body {
  background-color: #fbb03b;
  display: flex;
  justify-content: center;
}

.icon-container {
  background-color: #138073;
  width: 80px;
  height: 80px;
  font-size: 38px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
form {
  h2 {
    color: #138073;
    margin: 10px;
    text-align: center;
  }
  display: flex;
  width: 700px;
  flex-direction: column;
  margin: 100px 0px;
  .input-element {
    margin: 10px;
    background-color: antiquewhite;
    height: 60px;
    padding: 20px;
  }
  .read {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      margin: 0 auto;
    }
    p {
      margin: 0 auto;
    }
  }
  button {
    width: 280px;
    margin: 30px;
    height: 60px;
    background-color: #138073;
    border: 1px solid white;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .main-content-container{
    display: flex;
    justify-content: center;
  }
  form{
    width: 90%;
  }
  h2 {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  }
}
